h2 {
    color: indigo;
    background-color: aquamarine;
}

button {
    color: blue;
    background-color: magenta;
}

p {
    color: red;
    background: yellowgreen;
}

body {
    background-color: #e2c0ec;
}