<!DOCTYPE html>
<html lang="en">


<%- include("partials/head")%>

<body>
    <%- include("partials/navbar")%>
    <div class="container">
        <h1>Add new comment</h1>
        <form action="/comments" method="post">
            <section>
                <label for="username">Enter Username</label>
                <input type="text" name="username" id='username'>
            </section>
            <section>
                <label for="comment">Enter Comment</label>
                <br>
                <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
            </section>
            <button>Submit</button>
        </form>
    </div>
</body>

</html>