<!DOCTYPE html>
<html lang="en">
<%- include("partials/head")%>

<body>
    <%- include("partials/navbar")%>
    <h1>Ola Amigos <%= "Hello there" %>
    </h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, in itaque. Quibusdam temporibus facere,
        corrupti ad dolorum atque, officia iure facilis, voluptates iusto cupiditate non aliquam fuga nostrum ipsum
        amet. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, fuga quasi eligendi corrupti placeat
        eius accusantium porro molestias dolores excepturi rerum, voluptatem aperiam sed quidem iure amet neque ipsam?
        Fugiat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ipsum nobis minus, culpa veritatis iure dolores
        nesciunt corrupti, provident tempora corporis laborum, et quis est asperiores? Omnis temporibus aut obcaecati.
    </p>
</body>

</html>